    .image {
        border: 1px orange solid;
        background-color: #283A56;
    }
    pre{
        font-size: 14px;
        color: orange;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    







