<div *ngIf="showContainer" class="sidemenupage">
    <div class="item-container">
        <a routerLink="/presentation" (click)="scrollUp()" routerLinkActive="active">PRÉSENTATION</a>
    </div>
    <div class="item-container">
        <a routerLink="/application" (click)="scrollUp()" routerLinkActive="active">APPLICATION</a>
    </div>
    <div class="item-container">
        <a routerLink="/principe" (click)="scrollUp()" routerLinkActive="active">PRINCIPE</a>
    </div>
    <div class="item-container">
        <a routerLink="/technique" (click)="scrollUp()" routerLinkActive="active">EN DÉTAIL</a>
    </div>
    <div class="item-container">
        <a routerLink="/code" (click)="scrollUp()" routerLinkActive="active">CODE</a>
    </div>
    <div class="item-container">
        <a routerLink="/librairies" (click)="scrollUp()" routerLinkActive="active">LIBRAIRIES</a>
    </div>
    <div class="item-container">
        <a routerLink="/enjeux"(click)="scrollUp()"  routerLinkActive="active">ENJEUX</a>
    </div>
</div>
