

.mat-card-image {
    margin: 0px !important;
}


.mat-card-actions{
    display:flex;
    justify-content: space-between;
}


.mat-card-content{
    color: #283A56;
    font-size: 15px;
    margin-top: 10px;
} 

.card-wrapper{
    margin-bottom: 40px;
}