
<div class="container">
    <div class="row gx-5">
        <div class="article col-12 col-md-9 p-5">
            <h2><span>LES ENJEUX :</span></h2>
            <p>A l'instar des logiciels remplacés peu à peu par des applications en ligne, le monde du jeu vidéo tend lui aussi à profiter des technologies liées au web. Cet tendance s'accentue encore plus avec le mobile gaming qui bat tous les records de vente et dont les jeux sont de plus en plus performants et attractifs (3D, RA) et le phénomène de dématérialisation croissant.</p>
            <p>Ainsi cette technologie est une aubaine pour tous les éditeurs et acteurs du jeux: 
                16 % pour l'écosystème de jeux sur mobiles (1,4 milliard d’euros). en 2020 (source Syndicat des éditeurs de logiciels de loisirs).</p>
            <p>
                Plus généralement, c'est toute l'industrie du e-commerce qui peut profiter de cette technologie:
                les sites de vente en ligne qui offre la possibilité au visiteur de changer la couleur des articles, de manipuler un objet virtuellement pour mieux en apprécier les contours ou la texture ou encore les grandes enseignes de l'immobilier qui proposent des visites virtuelles de maisons à construire: tous ces sites utilisent la technologie <span>webGL</span> qui rapproche encore d'avantage le consommateur de son produit qu'il peut presque toucher et personnaliser au gré de ses envies.
                La personnalisation renvoie au sur-mesure et au luxe, alors que la masse évoque le contraire, la série industrielle, l'uniformisation. 
            </p>
            <p>
                Mais cette technologie ouvre en réalité le champ des possibles de l'interaction des utilisateurs:
            </p>
            <ul>
                <li>Éducation</li>
                <li>Médecine</li>
                <li>Immobilier</li>
                <li>Jeux vidéos</li>
                <li>Arts numériques</li>
                <li>Maps: par exemple MapsGL de GoogleMaps pour les batiments 3D en mode plan et les images aériennes à 45 degrès ainsi que les transitions de zoom fluides.</li>
                <li><a href="https://github.com/OpenWebGlobe/WebViewer" target="_blank">OPEN WEB GLOBE</a>, SDK open source proposant un globe interactif.</li>
            </ul>
            <br>
            <br>
            <div class="image text-center">
                <img class="img-fluid max-width: 100% custom" style="width:617px; height:auto;" [src]="custom">
            </div>
            <br>
            <div class="image text-center">
                <img class="globe img-fluid max-width: 100%" style="width:617px; height:auto;" [src]="globe">
            </div>
            <br>
            <p>On pourrait également citer les plateformes comme <a href="https://gather.town/app">Gather Town </a> qui ont pu rapprocher des milliers de collaborateurs pendant la période du Covid en proposant des salles de réunions interactives.</p>

            
        </div>
            <div class="col-md-3">
                <app-sidemenupage></app-sidemenupage>
            </div>
    </div>
    <div class="next-page">
        <button mat-raised-button matRipple (click)="goPreviousPage()" [matRippleColor]="rippleColor" class="btn me-3">Retour</button>
    </div>
</div>

