.robotButton{
    position: relative;
    z-index:1;
    top: 100px;
    left: 100px;
    cursor: pointer;

    .mat-icon{
        position: relative;
        bottom: 15px;
       
    }
    
}

.preloader{
    color: orange;
    height: 100vh;
}


