.robotButton{
    position: absolute;
    z-index:1;
    top: 5%;
    left: 5%;
    cursor: pointer;

    .mat-icon{
        position: relative;
        bottom: 15px;
       
    }
    
}

.preloader{
    color: orange;
    height: 100vh;
}


